.tournament-info {
    position: relative;
}

.stats-box {
    background-color: $color1;
    color: $white;
    text-align: center;
    padding: 3rem;
    width: 100%;
    max-width: 50rem;
    float: left;
    margin-left: 5rem;
    position: relative;
    z-index: 2;
}

.statistic {
    flex: 1 0 33%;
}