.contact {
    @include bp(mq1024) {
        display: block;
    }
}

.contact-img {
    width: 46%;
    height: 42rem;
    object-fit: cover;

    @include bp(mq1024) {
        width: 100%;
        height: auto;
        margin-bottom: 4rem;
    }

    @include bp(mq560) {
        margin: 0 -1.5rem 4rem;
        width: calc(100% + 3rem);
    }
}

.contact-form {
    width: 50%;
    margin-bottom: 3rem;

    @include bp(mq1024) {
        width: 100%;
        padding: 0 3rem;
    }

    @include bp(mq560) {
        padding: 0 1.5rem;
    }

    .flex-row {
        margin-top: -1rem;
    }
}

.input {
    color: $font-color-1;
    font-family: $font1;
    font-weight: 400;
    padding: 1rem 0;
    margin-bottom: 1.5rem;
    border-bottom: .1rem solid $color4;
    width: 49%;
    transition: all .2s ease-in-out;

    ::placeholder {
        color: $font-color-2;
    }

    &:focus {
        background-color: $color3-d;
        border: .1rem solid $color4;
        border-radius: .4rem;
        padding: 1rem 2rem;
    }
}

.textarea {
    color: $font-color-1;
    font-family: $font1;
    font-weight: 400;
    padding: 2rem 0;
    border-bottom: .1rem solid $color4;
    height: 11rem;
    width: 100%;
    resize: none;
    margin-bottom: 1.5rem;
    transition: all .2s ease-in-out;

    &:focus {
        background-color: $color3-d;
        border: .1rem solid $color4;
        border-radius: .4rem;
        padding: 2rem;
    }
}

.error {
    color: $error;
    border-color: $error;

    &:focus {
        border-color: inherit;
    }
}

.success {
    color: $color1;
    border-color: $color1;

    &:focus {
        border-color: inherit;
    }
}