.rewards {
    text-align: center;
} 

.reward-title {
    display: inline-block;
    max-width: 19em;
}

.reward {
    display: inline-block;
    vertical-align: top;
    margin: 2rem;
    width: 18rem;

    @include bp(mq1240) {
        margin: 2rem 6rem;
    }

    @include bp(mq1024) {
        margin: 2rem;
        width: calc(32% - 4rem);
    }

    @include bp(mq768) {
        margin: 2rem 1rem;
        width: calc(32% - 2rem);
    }
}

.first-prize {
    color: $color1;
}

.reward-number {
    color: $font-color-3;
}

.reward-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    margin-bottom: 1.5rem;
}

.reward-name {
    display: inline-block;
    max-width: 18rem;
}