$font1: 'raleway', sans-serif;
$font2: 'millunium', sans-serif;

$color1: #3EAD48;
$color2: #1E3066;
$color3: #F0F0F0;
$color3-d: #F4F4F4;
$color4: #C2C2C2;

$white: #FFFFFF;
$shadow: rgba(0,0,0,0.18);
$shadow2: rgba(0,0,0,0.6);

$error: #d42c2c;

$font-color-1: #323232;
$font-color-2: #7E7E7E;
$font-color-3: #989898;