.btn {
    background-color: $color1;
    border-radius: .4rem;
    color: $white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 4.8rem;
    width: 100%;
    max-width: 32rem;
    transition: background-color .2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: lighten($color1, 10%);
    }
}