.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-height: 72rem;
    background: $color2 url(/assets/img/pp-main-background.jpg) center no-repeat;
    background-size: cover;
    padding: 8rem 0 3rem;
    color: $white;
    text-align: center;
}

.page-info{
    display: block;
    max-width: 40em;
    margin: 0 auto 4em;
}

.see-more {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.6rem;
    width: 3.6rem;
    margin: 4em auto 1em;
    border-radius: 50%;
    border: .1rem solid $white;
    color: $white;
    animation: verticalMove 2s ease-in-out .2s infinite forwards;
}

@keyframes verticalMove {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(100%);
    }
}